.app {
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.jsonContainer {
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.textContainer {
  margin: 10px;
}

.text {
  margin: 5px;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
